* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	max-width: 1440px;
	margin: 0 auto;
	overflow-x: hidden;
	background-color: #111010;
	color: #ffffff;
}

/* Navbar Styling */

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 15vh;
	padding: 0 2rem;
}

.nav-list ul {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 3rem;
}

.nav-list ul li {
	list-style: none;
	opacity: 80%;
}

.nav-list ul li:hover {
	opacity: 100%;
	scale: 1.05;
	transition: all 0.3s;
	cursor: pointer;
}

.nav-button button {
	background-color: #0c8bfd;
	color: #ffffff;
	padding: 0.6rem 2rem;
	border: 4px solid transparent;
	border-radius: 2rem;
	font-size: 1.1rem;
}

.nav-button button:hover {
	background-color: #ffffff;
	color: #0c8bfd;
	border: 4px solid #0c8bfd;
	cursor: pointer;
	scale: 1.02;
	transition: all 0.3s;
}

.nav-bar {
	display: none;
}

/* Media Queries for Navbar */

@media (max-width: 1023px) {
	.nav-list {
		display: none;
	}

	.nav-button {
		display: none;
	}

	.nav-bar {
		display: block;
	}
}

/* Hero Section Styling */

main {
	display: flex;
	justify-content: space-between;
	padding: 0 2rem;
}

.hero-text {
	max-width: 45%;
	margin: 5rem 0;
}

.hero-heading {
	margin-bottom: 2rem;
}

.hero-heading h1 {
	font-size: 5rem;
}

.hero-heading h1 em {
	color: #0c8bfd;
}

.hero-paragraph p {
	font-size: 1.3rem;
	line-height: 2rem;
	opacity: 50%;
	letter-spacing: 1px;
	word-spacing: 2px;
}

.hero-button {
	margin-top: 3.5rem;
	display: flex;
	gap: 2rem;
}

.hero-button button:first-child {
	background-color: #0c8bfd;
	color: #ffffff;
	border: 2px solid transparent;
	border-radius: 2rem;
	padding: 1rem 1.7rem;
	font-size: 1.2rem;
}

.hero-button button:last-child {
	background-color: transparent;
	color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 2rem;
	padding: 1rem 1.7rem;
	font-size: 1.2rem;
}

.hero-button button:first-child:hover {
	background-color: #ffffff;
	color: #0c8bfd;
	border: 2px solid #0c8bfd;
	scale: 1.03;
	transition: all 0.5s;
	cursor: pointer;
}

.hero-button button:last-child:hover {
	background-color: #ffffff;
	color: #000000;
	border: 2px solid #000000;
	scale: 1.03;
	transition: all 0.5s;
	cursor: pointer;
}

.hero-img {
	margin: 4rem 0;
}

/* Media Queries for Hero Section */

@media (max-width: 1101px) {
	main {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.hero-text {
		max-width: 100%;
	}

	.hero-heading,
	.hero-paragraph {
		text-align: center;
	}

	.hero-button {
		justify-content: center;
	}

	.hero-img {
		text-align: center;
		margin-top: 1rem;
	}

	.hero-img img {
		max-width: 100%;
	}
}

@media (max-width: 767px) {
	.hero-heading h1 {
		font-size: 3rem;
	}

	.hero-paragraph p {
		font-size: 1.1rem;
	}

	.hero-button {
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.hero-img {
		margin-top: 0;
	}
}

/* Logo Section Styling */

.logo {
	background-color: #1d1c1c;
}

.logo div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 3rem;
	padding: 3rem 2rem;
}

/* Media Queries for Logo Section */

@media (max-width: 767px) {
	.logo div img {
		width: 35%;
	}
}
